<body class="index">
    <%- include("../partials/navbar.ejs") %>
    <header class="header">
        <h1>Welcome to the Quran Reader</h1>
    </header>
    <main class="content">
        <table class="surah-table">
            <thead>
                <tr>
                    <th>English Name</th>
                    <th>Arabic Name</th>
                </tr>
            </thead>
            <tbody>
                <% if (surahs && surahs.length > 0) { %>
                    <% surahs.forEach(surah => { %>
                        <tr>
                            <td>
                                <a href="/surah/<%= surah.surah_english_name %>" class="surah-link">
                                    <%= surah.surah_english_name %>
                                </a>
                            </td>
                            <td><%= surah.surah_arabic_name%></td>
                        </tr>
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td colspan="2" class="no-data">No Surahs Found</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>