<body>
    <%- include('../partials/navbar.ejs') %>

    <div id="savedContent">
        <h1>Saved Surahs</h1>
        <% if (message) { %>
            <p class="message"><%= message %></p>
        <% } else { %>
            <ul>
                <% surahs.forEach(surah => { %>
                    <li>
                        <a href="/surah/<%= surah.surah_english_name %>" class="surah-link">
                            <%= surah.surah_english_name %>
                        </a>                    
                    </li>
                <% }); %>
            </ul>
        <% } %>
    </div>
    
    <%- include('../partials/footer.ejs') %>
</body>
</html>
