<body class="surah_body">
    <%- include("../partials/navbar.ejs") %>
    <div class="surah-container">
        <div class="container-header">
            <div class="font">
                <form id="font-form" action="/font" method="get">
                    <input type="hidden" name="surahName" value="<%= surahName %>">
                    <div class="font-section">
                        <label for="font-dropdown">Font</label>
                        <select name="fonts" id="font-dropdown" onchange="document.getElementById('font-form').submit();">
                            <option value="default" <% if (font_value === 'arabic') { %> selected <% } %>>Default</option>
                            <option value="arabic1" <% if (font_value === 'arabic1') { %> selected <% } %>>Arabic1</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="bookmark" id="bookmark-icons">
                <% if(!marked){ %>
                    <div class="bookmark-icon" id="Not-added"  onclick="savesurah()">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 850 850" width="24px" fill="#ffffff"><path d="M200-120v-640q0-33 23.5-56.5T280-840h240v80H280v518l200-86 200 86v-278h80v400L480-240 200-120Zm80-640h240-240Zm400 160v-80h-80v-80h80v-80h80v80h80v80h-80v80h-80Z"/></svg>                    </div>
                <% }else{ %>
                    <div class="bookmark-icon" id="added"  onclick="alreadySaved()">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 850 850" width="24px" fill="#020710"><path d="M713-600 600-713l56-57 57 57 141-142 57 57-198 198ZM200-120v-640q0-33 23.5-56.5T280-840h280q-20 30-30 57.5T520-720q0 72 45.5 127T680-524q23 3 40 3t40-3v404L480-240 200-120Z"/></svg>
                    </div>
                <% } %>
            </div>
        </div>


        <div class="surah-header">
            <header>
                <h1><%= surahName %></h1>
                <p><strong>Number of Ayahs:</strong> <%= noOfAyahs %></p>
            </header>
        </div>
        <div class="surah-content">
            <% surahContent.forEach((ayah, index) => { %>
                <div class="ayah-line">
                    <p> ◌ <%= ayah %> </p>
                </div>
            <% }); %>
        </div>
    </div>
    <%- include("../partials/footer.ejs") %>
    <script>
        const data = {
            surahId: "<%= surahId %>",
            noOfAyahs: "<%= noOfAyahs %>",
        };
    </script>
    <script src="/saved.js"></script>
</body>

