<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quran Reader</title>
    <link rel="stylesheet" href="/style/surah.css">
</head>
<body class="surah_body">
    <%- include("../partials/navbar.ejs") %>
    <div class="surah-container">
        <div  class="bookmark" id="bookmark-icons">
            <% if(!marked){ %>
                <div class="bookmark-icon" id="Not-added"  onclick="savesurah()">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#bbbdc4"><path d="M200-120v-640q0-33 23.5-56.5T280-840h400q33 0 56.5 23.5T760-760v640L480-240 200-120Z"/></svg>
                </div>
            <% }else{ %>
                <div class="bookmark-icon" id="added"  onclick="alreadySaved()">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#020710"><path d="M713-600 600-713l56-57 57 57 141-142 57 57-198 198ZM200-120v-640q0-33 23.5-56.5T280-840h280q-20 30-30 57.5T520-720q0 72 45.5 127T680-524q23 3 40 3t40-3v404L480-240 200-120Z"/></svg>
                </div>
            <% } %>
        </div>


        <div class="surah-header">
            <header>
                <h1><%= surahName %></h1>
                <p><strong>Number of Ayahs:</strong> <%= noOfAyahs %></p>
            </header>
        </div>
        <div class="surah-content">
            <% surahContent.forEach((ayah, index) => { %>
                <div class="ayah-line">
                    <p> ◌ <%= ayah %> </p>
                </div>
            <% }); %>
        </div>
    </div>
    <script>
        const data = {
            surahId: "<%= surahId %>",
            noOfAyahs: "<%= noOfAyahs %>",
        };
    </script>
    <script src="/saved.js"></script>
</body>
</html>
